importFrom(curl, curl)
importFrom(rjson, fromJSON)
importFrom(stringr, str_locate)
importFrom(utils, close.socket, make.socket, read.socket, write.socket)
export(rdap_query)
export(rdap_extract_df)
export(rdap_keyextract)
export(rdap_keynames)
export(rdap_keyval_extract)
